<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div style="font-size: large">Please use the following code to verify your email on Aegle</div>

<div style="margin-bottom: 40px;margin-top: 40px;font-size: xx-large"><strong>{{verification_code}}</strong></div>

<span style="font-size: large">Please do not share this code with anyone. Aegle will never ask you to disclose your password or OTP code. If you get such emails please disregard it and contact us immediately</span>

</body>
</html>
